* {
  font-family: "Raleway", sans-serif;
}

html {
  height: 100%;
  background-color: royalblue;
}

body {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  text-align: center;
}

h1 {
  margin: 0px;
}

h3 {
  height: 10%;
}

.player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 15%;
  background-color: dodgerblue;
}

.player img{
  height: 80px;
  width: 80px;
}

.game-area {
  width: 70%;
  display: flex;
}

.game-type {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  font-size: 30px;
  color: rgb(221, 220, 218);
  background-color: dodgerblue;
}

.classic {
  height: 30%;
  border-radius: 20px;
}

.advanced {
  margin-top: 15px;
  height: 50%;
  border-radius: 20px;
}

.game-title {
  margin: 2px;
}

.rule-box-classic,
.rule-box-advanced {
  display: flex;
  align-content: center;
  text-align: justify;
  justify-content: center;
  margin: 2px;
}

.rule-box-classic {
  height: 25%;
}

.rule-box-advanced {
  height: 16.7%;
}

.picture {
  height: 50%;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.avatar {
  height: 50px;
  width: 50px;
}

.game-board {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 70%;
}

.classic-game,
.advanced-game,
.choose-display {
  display: flex;
  justify-content: center;
}

.choice-display {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 30%;
  width: 70%;
  margin: 10px;
}

.current-match {
  display: flex;
  justify-content: center;
  height: 70%;
  width: 100%;
}

.classic-game,
.advanced-game {
  height: 100%;
  width: 45%;
}

.advanced-game {
  height: 70%;
}

.classic:hover {
  background-color:rgb(8, 72, 38)
}

.advanced:hover {
  background-color: rgb(96, 32, 32);
}

.boulder,
.parchment,
.shears,
.dragon,
.wizard {
  background-color: rgba(232, 162, 11, 0.2);
  border-radius: 10px;
  margin: 2px;
}

.change-game {
  background-color: chocolate;
  font-size: 30px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.hover:hover {
  transform: scale(1.02);
}

.hidden {
  display: none;
}
